%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    Glenn Roberts -
    %a{ :href => 'http://github.com/glennr' } github
    \-
    %a{ :href => 'http://twitter.com/glennrob' } @drnic
    \-
    %a{ :href => 'http://glenn-roberts.com' } glenn-roberts.com
    \-
    %a{ :href => 'http://siyelo.com' } siyelo.com
    